body {
  margin: 0;
}

header {
  background-color: #03A9F4;
  text-align: center;
}

.logo {
  color: #fff;
  font-size: 40px;
  font-family: 'Teko';
}

header input {
  font-size: 20px;
  margin: 20px 0;
}